/* Карточка продукта */
.product-card{
    margin-bottom: 80px;
}
.product-card-inner {
    display: flex;
    justify-content: space-between;
  }
  
  .product-card-inner .img-box {
    width: 500px;
    padding-top: 64px;
    text-align: center;
    position: relative;
  }
  
  .product-card-inner .img-box::before {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    padding: 13px 25px;
    border-radius: 3px;
  }
  .product-card-inner .img-box img{
    width: 500px;
    max-width: 100%;
    height: 375px;
  }
  .card-price-old {
    font-family: 'Barlow';
    font-size: 30px;
    line-height: 44px;
    color: black;
    opacity: 0.6;
    background-image: url('../images/line.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
  }
  
  .card-price-new {
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 17px;
    color: #2f3035;
  }
  
.img-box a {
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-weight: 400;
    border-bottom: 1px solid #1c62cd;
    font-size: 15px;
    line-height: 18px;
    color: #1c62cd;
  }
  
  .card-content {
    max-width: 570px;
  }
  
  .card-content h1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    font-family: 'SFProDisplay-Semibold', sans-serif;
    margin-bottom: 10px;
  }
  
  .card-content p {
    font-size: 15px;
    line-height: 18px;
    color: #2f3035;
    opacity: 0.6;
    margin-bottom: 22px;

  }
  
  .product-card__buttons {
    margin-bottom: 50px;
    position: relative;
  }
  
  .card-tab {
    font-size: 20px;
    line-height: 24px;
    color: #2f3035;
    opacity: 0.6;
    padding-bottom: 5px;
    padding-right: 17px;
    margin-bottom: 5px;
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-weight: 400;
  }
  
  .card-tab + .card-tab {
    padding-left: 17px;
  }
  
  
  .card-tab.tab-active {
    opacity: 1;
    border-bottom: 2px solid #1c62cd;
    font-weight: 700;
    font-family: 'SFProDisplay-Semibold', sans-serif;
  }
    .card-list {
    margin-bottom: 20px;
  }
  .card-item {
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-weight: 400;
    padding: 15px 0 6px;
    border-bottom: 1px solid #2f3035;
    display: flex;
    justify-content: space-between;
  }
  
  .card-item-left {
    padding-right: 15px;
  }
  
  .card-item-right {
    width: 125px;
  }
  
  .card-more {
    font-size: 14px;
    line-height: 17px;
    color: #1c62cd;
    border-bottom: 1px solid #1c62cd;
    margin-bottom: 40px;
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-weight: 400;
  }
  
  .card-btn button {
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;
    padding: 16px 56px;
    background: #1c62cd;
    border-radius: 3px;
    border: none;
    cursor: pointer;
  }
  .product-card__buttons button{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .product-card__buttons button + button {
    margin-left: 30px;
  }
  
  /* ADDITIONAL */
  .card__tabs {
    margin-bottom: 100px;
  }
  
  .card__tab-box {
    background: #f0f0f4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 22px 0;
    margin-bottom: 50px;
  }
  
  .card__tab {
    font-size: 20px;
    line-height: 24px;
    opacity: 0.6;
    color: #2f3035;
  }
  
  .card__tab.tab-active {
    border-bottom: 1px solid #1c62cd;
    opacity: 1;
  }
  
  .card__top-line {
    margin-bottom: 10px;
  }
  
  .card__label-search {
    font-size: 17px;
    line-height: 20px;
    color: rgba(47, 48, 53, .7);
    opacity: 0.7;
  }
  
  .card__input-search {
    background: #f0f0f4;
    border-radius: 3px;
    margin-left: 17px;
    padding: 9px 37px 9px 17px;
    border: none;
    margin-right: 100px;
  }
  
  .card__label-pickup {
    font-size: 17px;
    line-height: 20px;
    margin-left: 54px;
    color: rgba(47, 48, 53, .7);
  }
  
  .card__label-pickup .jq-radio.checked .jq-radio__div {
    display: none;
  }
  
  .card__list-item {
    padding: 20px 0;
    border-bottom: 1px solid rgba(47, 48, 53, 0.1);
    display: flex;
    font-size: 16px;
    line-height: 22px;
    color: rgba(47, 48, 53, .7);
    
  }
  
  .card__list-itemTitle {
    color: rgb(47, 48, 53);
    font-size: 20px;
    line-height: 24px;
  }
  
  .card__list-address {
    width: 220px;
    margin-right: 80px;
  }
  
  .card__list-workHours {
    width: 157px;
    margin-right: 96px;
  }
  
  .workHours {
    display: flex;
    justify-content: space-between;
  }
  
  .card__list-avialable {
    width: 140px;
    margin-right: 60px;
  }
  
  .card__list-num {
    width: 104px;
  }
  
  .card__list-btn {
    margin-left: auto;
  }
  
  .card__list-btn button {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.12em;
    color: #fff;
    padding: 9px 40px;
    text-transform: uppercase;
    background-color: #1c62cd;
    border-radius: 3px;
    border: none;
    cursor: pointer;
  }
  .card__list-btn button:hover{
    background-color: #1c62cd;
  }
  .product-card__btn-mobile {
    display: none;
  }

  .favs::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 22px;
    top: 7px;
    left: 0;
    background-image: url('../images/fav.svg');
 }
.favs-active::before{
    background-image: url('../images/fav-active.svg');
 }
 .product-item-wrapper .favs::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 22px;
    top: 0;
    left: 0;
    background-image: url('../images/fav.svg');
 }
 .product-item-wrapper .favs-active::before{
    background-image: url('../images/fav-active.svg');
 }
 .banner-slider-btn,
.product-slider-btn{
    position: absolute;
    top: 47%;
    background-color: transparent;
    border: none;
    z-index: 5;
    cursor: pointer; 

}
.product-slider-btnprev{
    left: -40px;
}
.product-slider-btnnext{
    right: -10px;
}